version: 2.1

executors:
  node:
    docker:
      - image: cimg/node:22.21

parameters:
  deploy_location:
    default: "staging"
    type: string

jobs:
  build:
    executor: node
    steps:
      - checkout
      - run: PROJECT=pokeapi-test-b6137 sh -x scripts/test.sh

  deploy:
    executor: node
    steps:
      - checkout
      - run:
          name: Setup environment variables
          command: |
            echo "export deploy_location=<< pipeline.parameters.deploy_location >>" >> "$BASH_ENV"
      - run:
          name: Deploy website and api-data to the correct environment (production/staging)
          command: bash scripts/deploy.sh

  purge_cache:
    executor: node
    steps:
      - run:
          name: Purge Cloudflare cache
          command: |
            sleep 10
            curl https://api.cloudflare.com/client/v4/zones/1b447807502a801bdff3f71052fab25b/purge_cache \
              -H 'Content-Type: application/json' \
              -H "Authorization: Bearer $CF_POKEAPI_CIRCLECI_CACHE_PURGE_NARAMSIM" \
              -d '{
                "files": [
                  "https://pokeapi.co/"
                ]
              }'
            curl https://api.cloudflare.com/client/v4/zones/1b447807502a801bdff3f71052fab25b/purge_cache \
              -H 'Content-Type: application/json' \
              -H "Authorization: Bearer $CF_POKEAPI_CIRCLECI_CACHE_PURGE_NARAMSIM" \
              -d '{
                "tags": [
                  "website"
                ]
              }'

workflows:
  version: 2
  commit:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only:
                - master
                - staging
      - purge_cache:
          requires:
            - deploy
          filters:
            branches:
              only:
                - master
